#customHeader {
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
    color: white;
    font-size: 30px;
}

body {
    background: #2B60DE;
}

.navbar-link {
    color: white;
}

#navbar-rule {
  border: 2.5px solid white;
  border-radius: 1px;
}

a:hover {
    color: #ffc107;
    text-decoration: underline;
}

.horizontal-5050-div {
  float: left;
  display: inline-block;
  width: 50%;
  text-align: center;
  padding: 10px;
}

.horizontal-container {
  display: flex;
  padding: 15px;
  text-align: center;
}

.root-div {
  border: solid white;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
}

.input-small {
  width: 40%;
}

table, th, td {
  border: 2px solid black
}
