#customHeader {
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
    color: #2B60DE;
    font-size: 30px;
}

body {
    background-image: url('./assets/speedometer.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Roboto', sans-serif;
}

#narrow-container {
    min-height: 100vh;
    margin-left: 150px;
    margin-right: 150px;
    background-color: white;
    opacity: 90%;
}

.navbar-link {
    color: #2B60DE;
}

#navbar-rule {
  border: 2.5px solid #2B60DE;
  border-radius: 1px;
}

a:hover {
    color: #ffc107;
    text-decoration: underline;
}

/* contains .horizontal-container elements */
.root-div {
  border: solid #2B60DE;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  width: auto;
}

/* contains .horizontal-5050-div elements */
.horizontal-container {
  display: flex;
  text-align: center;
}

.horizontal-5050-div {
  display: inline-block;
  width: auto;
  text-align: center;
  padding: 10px;
}

.horizontal-100-div {
  display: inline-block;
  text-align: center;
  padding: 10px;
}

.input-small {
  width: 40%;
}

#msg-table, .msg-th, .msg-td {
  border: 2px solid black
}

tr:nth-child(odd) {
  background-color: white;
}

tr:nth-child(even) {
  background-color: rgb(175, 175, 175);
}

#id-table {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.id-tr {
  display: block;
  float: left;
  border-right: 2px solid black;
}

.id-td {
  display: block;
}

.id-tr:first-child {
  font-weight: bold;
}

.id-td:nth-child(odd) {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.tableHeader {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.center {
  display: flex;
  justify-content: center;
}

h3 {
  font-family: 'Corben', Georgia, Times, serif;
  font-weight: bold;
}

h4 {
  font-weight: bold;
  color: #2B60DE
}

h5 {
  color: #2B60DE
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #2B60DE;
    width: 80%;
    text-align: center;
}

/* The Close Button */
#close-modal-btn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

#close-modal-btn:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
