#customHeader {
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
    color: white;
    font-size: 30px;
}

body {
    background: #2B60DE;
}

#centerAlign {
    text-align: center;
}

#settingsBody {
    text-align: center;
    align-self: center;
    margin: auto;
    padding-top: 20px !important;
}

label {
    display: inline-block;
    text-align: -webkit-auto;
}

.navbar-link {
    color: white;
}

#navbar-rule {
  border: 2.5px solid white;
  border-radius: 1px;
}


a:hover {
    color: #ffc107;
    text-decoration: underline;
}