#customHeader {
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
    color: #2B60DE;
    font-size: 30px;
}

body {
    background-image: url('./assets/speedometer.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Roboto', sans-serif;
}

#narrow-container {
    min-height: 100vh;
    margin-left: 150px;
    margin-right: 150px;
    background-color: white;
    opacity: 90%;
}

#centerAlign {
    text-align: center;
}

#transmitBody {
    border: solid #2B60DE;
    align-self: center;
    margin: auto;
    width: 700px;
    padding-top: 20px !important;
    padding: 100px;
    padding-bottom: 30px;
}

label {
    display: inline-block;
    width: 200px;
    text-align: -webkit-auto;
    text-decoration-style: bold;
}

.navbar-link {
    color: #2B60DE;
}

#navbar-rule {
    border: 2.5px solid #2B60DE;
    border-radius: 1px;
}

a:hover {
    color: #ffc107;
    text-decoration: underline;
}

h3 {
    font-family: 'Corben', Georgia, Times, serif;
    font-weight: bold;
}
