body {
    background: #2B60DE;
}
#centerAlign {
    align-self: center;
    margin: auto;
    width: 700px;
    padding: 100px;
}

label {
    display: inline-block;
    width: 200px;
    text-align: -webkit-auto;
  }​